package ${packageController};

import java.util.List;

import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpSession;

import org.apache.log4j.Logger;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.ResponseBody;

import com.dplatform.framework.security.model.ISecurityUser;
import com.dplatform.framework.util.WebUtil;

import com.investfinancing.common.exceptions.BusinessException;
import com.investfinancing.common.vo.Page;
import com.investfinancing.common.web.WebResult;
import com.investfinancing.constants.AppConstants;
import com.investfinancing.controller.BaseController;

import ${packagePojo}.${tableVo.pojoName};
import ${packageService}.${tableVo.pojoName}Service;

/**
 * 
 * 
 * @author auto genaration
 */
@Controller
@RequestMapping(value = "/${tableVo.pojoNameVar}")
public class ${tableVo.pojoName}Controller extends BaseController{
	private Logger logger = Logger.getLogger(${tableVo.pojoName}Controller.class);
	
	@Autowired
	private ${tableVo.pojoName}Service ${tableVo.pojoNameVar}Service;

	@RequestMapping(value="/${tableVo.pojoNameVar}List")
	public String  ${tableVo.pojoNameVar}List(){
		try {
			logger.debug("进入方法:${tableVo.pojoNameVar}List,无参数");
			logger.info("进入列表页...");
		} catch (Exception e) {
			logger.error(e.getMessage(),e);
		}
		logger.debug("结束方法:${tableVo.pojoNameVar}List,无参数");
		return "${jspFold}/${tableVo.pojoNameVar}/${tableVo.pojoNameVar}List.jsp";
	}

	@RequestMapping(value="/${tableVo.pojoNameVar}Edit")
	public String ${tableVo.pojoNameVar}Edit(@RequestParam(value= "id" ,required = false) String id, 
									   @RequestParam(value= "op" ,required = false) String op,
									   HttpServletRequest request,HttpSession session){
		try {
			logger.debug("进入方法:${tableVo.pojoNameVar}Edit,参数,id:" + id + ",op:" + op + ",request:" + request + ",session:" + session);
			logger.info("进入编辑页...");
			ISecurityUser currentUser = WebUtil.getCurrentUser(session);

			if (op == null) {
				op = AppConstants.OP_ADD;
			}
			boolean isAdd = AppConstants.OP_ADD.equals(op);
			if (!isAdd) {
				${tableVo.pojoName} ${tableVo.pojoNameVar} = ${tableVo.pojoNameVar}Service.get${tableVo.pojoName}ForEidtById(id);
				if(${tableVo.pojoNameVar} == null){
					throw new BusinessException("记录不存在,id:" + id);
				}
				request.setAttribute("${tableVo.pojoNameVar}", ${tableVo.pojoNameVar});
			}

			request.setAttribute("op", op);
			request.setAttribute("add", isAdd);
			request.setAttribute("title", getTile(op));
			request.setAttribute("currentUser",currentUser);
			
			logger.debug("结束方法:${tableVo.pojoNameVar}Edit,参数,id:" + id + ",op:" + op + ",request:" + request + ",session:" + session);
			return "${jspFold}/${tableVo.pojoNameVar}/${tableVo.pojoNameVar}Edit.jsp";
		} catch (Exception e) {
			logger.error(e.getMessage(),e);
			logger.debug("结束方法:${tableVo.pojoNameVar}Edit,参数,id:" + id + ",op:" + op + ",request:" + request + ",session:" + session);
			return errorPage(request, e.getMessage());
		}
		
	}

	@RequestMapping(value="/query${tableVo.pojoName}List")
	@ResponseBody
	public List<${tableVo.pojoName}>  query${tableVo.pojoName}List(${tableVo.pojoName} ${tableVo.pojoNameVar},
															@RequestParam(value="orderby",required=false) String orderby, 
															int page, int limit){
		try {
			logger.debug("进入方法:query${tableVo.pojoName}List,参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar} + ",orderby:" + orderby + ",page:" + page + ",limit:" + limit);
			logger.debug("结束方法:query${tableVo.pojoName}List,参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar} + ",orderby:" + orderby + ",page:" + page + ",limit:" + limit);
			return ${tableVo.pojoNameVar}Service.query${tableVo.pojoName}List(${tableVo.pojoNameVar},orderby, (page - 1) * limit, limit);
		} catch (Exception e) {
			logger.error(e.getMessage(),e);
			logger.debug("结束方法:query${tableVo.pojoName}List,参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar} + ",orderby:" + orderby + ",page:" + page + ",limit:" + limit);
			return null;
		}
	}
	@RequestMapping(value="/query${tableVo.pojoName}Page")
	@ResponseBody
	public Page<${tableVo.pojoName}>  query${tableVo.pojoName}Page(${tableVo.pojoName} ${tableVo.pojoNameVar},int page, int limit,
											   @RequestParam(value="orderby",required=false) String orderby 
											   ,HttpSession session){
		try {
			logger.debug("进入方法:query${tableVo.pojoName}Page,参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar} + ",orderby:" + orderby + ",page:" + page + ",limit:" + limit);
			ISecurityUser currentUser = WebUtil.getCurrentUser(session);
			logger.debug("结束方法:query${tableVo.pojoName}Page,参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar} + ",orderby:" + orderby + ",page:" + page + ",limit:" + limit);
			return ${tableVo.pojoNameVar}Service.query${tableVo.pojoName}Page(${tableVo.pojoNameVar},orderby, (page - 1) * limit, limit,currentUser);
		} catch (Exception e) {
			logger.error(e.getMessage(),e);
			logger.debug("结束方法:query${tableVo.pojoName}Page,参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar} + ",orderby:" + orderby + ",page:" + page + ",limit:" + limit);
			return null;
		}
	}

	@RequestMapping(value="/query${tableVo.pojoName}ListCount")
	@ResponseBody
	public int query${tableVo.pojoName}ListCount(${tableVo.pojoName} ${tableVo.pojoNameVar}){
		try {
			logger.debug("进入方法:query${tableVo.pojoName}ListCount,参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar});
			logger.debug("结束方法:query${tableVo.pojoName}ListCount,参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar});
			return ${tableVo.pojoNameVar}Service.query${tableVo.pojoName}ListCount(${tableVo.pojoNameVar});
		} catch (Exception e) {
			logger.error(e.getMessage(),e);
			logger.debug("结束方法:query${tableVo.pojoName}ListCount,参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar});
			return 0;
		}
	}

	@RequestMapping(value="/add${tableVo.pojoName}")
	@ResponseBody
	public String add${tableVo.pojoName}(${tableVo.pojoName} ${tableVo.pojoNameVar},HttpSession session){
		try {
			logger.debug("进入方法:add${tableVo.pojoName},参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar} + ",session:" + session);
			ISecurityUser user = WebUtil.getCurrentUser(session);
			${tableVo.pojoNameVar}Service.save${tableVo.pojoName}(${tableVo.pojoNameVar},user.getId());
			logger.debug("结束方法:add${tableVo.pojoName},参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar} + ",session:" + session);
			return WebResult.successJson();
		} catch (Exception e) {
			logger.error(e.getMessage(),e);
			logger.debug("结束方法:add${tableVo.pojoName},参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar} + ",session:" + session);
			return WebResult.errorJson(e.getMessage());
		}
	}

	@RequestMapping(value="/update${tableVo.pojoName}")
	@ResponseBody
	public String update${tableVo.pojoName}(${tableVo.pojoName} ${tableVo.pojoNameVar},HttpSession session){
		try {
			logger.debug("进入方法:update${tableVo.pojoName},参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar} + ",session:" + session);
			logger.info("开始修改...");
			ISecurityUser user = WebUtil.getCurrentUser(session);
			${tableVo.pojoNameVar}Service.update${tableVo.pojoName}(${tableVo.pojoNameVar},user);
			logger.debug("结束方法:update${tableVo.pojoName},参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar} + ",session:" + session);
			return WebResult.successJson();
		} catch (Exception e) {
			logger.error(e.getMessage(),e);
			logger.debug("结束方法:update${tableVo.pojoName},参数,${tableVo.pojoNameVar}:" + ${tableVo.pojoNameVar} + ",session:" + session);
			return WebResult.errorJson(e.getMessage());
		}
	}
	@RequestMapping(value="/delete")
	@ResponseBody
	public String delete(@RequestParam(value="id",required = false) String id,HttpSession session){
		try {
			logger.debug("进入方法:delete,参数,id:" + id + ",session:" + session);
			logger.info("开始删除,id:" + id);
			ISecurityUser user = WebUtil.getCurrentUser(session);
			${tableVo.pojoNameVar}Service.delete(id,user.getId());
		} catch (Exception e) {
			logger.error(e.getMessage(),e);
			logger.debug("结束方法:delete,参数,id:" + id + ",session:" + session);
			return WebResult.errorJson(e.getMessage());
		}
		logger.debug("结束方法:delete,参数,id:" + id + ",session:" + session);
		return WebResult.successJson();
	}
}