<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>send</title>
\<%layout("/include.html"){}%>
<script type="text/javascript" src="\${cxt}/static/js/hxApi/${tableVo.pojoNameVar}.js"></script>
<style type="text/css">
</style>
</head>
<body>
<div class="container-fluid row">
<div class="col-sm-6 col-md-6 col-lg-6 left">
	<form name="mainForm" id='mainForm' action="#" url='\${cxt}/hxApi/do${tableVo.pojoName}' method="post">
		<%for(col in tableVo.cols){%>
			<%if(col.inids || !col.modify){continue;}%>
			<div class="form-group">
				<label for="${col.fieldName}">${col.comment}(${col.fieldName})</label> 
				<input type="text" class="form-control" id="${col.fieldName}" name="${col.fieldName}" value="">
			</div>
		<%}%>
		
		<button type="button" class="btn btn-default ok">Submit</button>
	</form>
</div>
<div class="col-sm-6 col-md-6 col-lg-6 right">
	<div class="req">
		<p>原始请求报文:</p>
		<p class="initXml"></p>
	</div>
	<div class="req">
		<p>请求报文:</p>
		<p class="xml"></p>
	</div>
	<div class="res">
		<p>返回报文:</p>
		<p class="xml"></p>
	</div>
	<div class="res">
		<p>解密后报文:</p>
		<p class="uncryptedXml"></p>
	</div>
	<div>
		<p  class="data"></p>
	</div>
	<div>
		<p class="error"></p>
	</div>
</div>
</div>
</body>
</html>