$(function(){	
	$('.ok').click(function(){
		var form = $('#mainForm');
		var param = form.serializeArray();
		$.post(form.attr('url'),param,function(data){
			$('.req .initXml').empty().text(data.res.initXml);
			$('.req .xml').empty().text(data.res.signedXml);
			$('.res .xml').empty().text(data.res.res);
			$('.res .uncryptedXml').empty().text(data.res.unencryptedXml);
			
			if(data.res.errorMessage){
				var message = "出错了:<br/>";
				message += data.res.errorMessage;
				$('.error').empty().html(message);
			}
		},"json");
	});
});