package ${packagePojo};

import java.util.Map;
import java.util.ArrayList;
import java.util.List;
import javax.persistence.Transient;

import com.investfinancing.common.vo.BufferedMap;
import com.dplatform.framework.util.JsonUtil;
import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Id;
import javax.persistence.Table;
<%for(type in tableVo.allFiledTypeFull){%>
import ${type};
<%}%>

@Entity
@Table(name = "${tableVo.tableName}"<%if(tableVo.hasSchema){%>,schema="${tableVo.schema}"<%}%>)
public class ${tableVo.pojoName} implements java.io.Serializable {	
<%for(col in tableVo.cols){%>	
	private ${col.fieldType} ${col.fieldName};//${col.comment}
	<%if(@com.common.tools.code.simpleadms.constants.QueryEnum.RANGE == col.query){%>
	private ${col.fieldType} ${col.fieldName}Begin;
	private ${col.fieldType} ${col.fieldName}End;
	<%}%>
<%}%>

	public ${tableVo.pojoName}() {
	}

<%for(col in tableVo.cols){%>
	/**
	 * ${col.comment}
	 */
	<%if(col.inids){%>
	@Id
	<%}%>
	@Column(name = "${col.colName}")
	public ${col.fieldType} ${col.getFuntionName}() {
		<%if(tableVo.dealNull){%>
		if (this.${col.fieldName} == null) {
			return "";
		}
		<%}%>
		return this.${col.fieldName};
	}

	public void ${col.setFuntionName}(${col.fieldType} ${col.fieldName}) {
		this.${col.fieldName} = ${col.fieldName};
	}
	<%if(@com.common.tools.code.simpleadms.constants.QueryEnum.RANGE == col.query){%>
	@Transient
	public ${col.fieldType} ${col.getFuntionName}Begin() {
		return this.${col.fieldName}Begin;
	}

	public void ${col.setFuntionName}Begin(${col.fieldType} ${col.fieldName}Begin) {
		this.${col.fieldName}Begin = ${col.fieldName}Begin;
	}
	
	@Transient
	public ${col.fieldType} ${col.getFuntionName}End() {
		return this.${col.fieldName}End;
	}

	public void ${col.setFuntionName}End(${col.fieldType} ${col.fieldName}End) {
		this.${col.fieldName}End = ${col.fieldName}End;
	}
	<%}%>
<%}%>
	@Override
	public String toString() {
		try {
			return JsonUtil.object2Json(this);
		} catch (Exception e) {
			return super.toString();
		}  
	}
	
	/**
	 * 把对象填充到map里
	 * @param map
	 * @author LvXin
	 */
	public void fillMap(Map<String, Object> map){
	<%for(col in tableVo.cols){%>
		map.put("${col.colName}",this.${col.getFuntionName}());
	<%}%>
	}
	
	/**
	 * 从map从读取对象
	 * @param map
	 * @return
	 * @author LvXin
	 */
	public static ${tableVo.pojoName} fromMap(Map<String, Object> map){
		${tableVo.pojoName} model = new ${tableVo.pojoName}();
		BufferedMap bmap = new BufferedMap(map);
	<%for(col in tableVo.cols){%>
		model.${col.setFuntionName}(bmap.get${col.fieldType}("${col.colName}"));
	<%}%>
	
		return model;
	}
	
	/**
	 * 从mapList读取对象
	 * @param mapList
	 * @return
	 * @author LvXin
	 */
	public static List<${tableVo.pojoName}> fromMapList(List<Map<String, Object>> mapList){
		List<${tableVo.pojoName}> list = new ArrayList<>();
		if (mapList == null || mapList.size() == 0) {
			return list;
		}
		for(Map<String, Object> map : mapList){
			${tableVo.pojoName} item = fromMap(map);
			list.add(item);
		}

		return list;
	}
}
