package ${packageService}.impl;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import ${packageDao}.${tableVo.pojoName}Dao;
import ${packageService}.${tableVo.pojoName}Service;

@Service
public class ${tableVo.pojoName}ServiceImpl extends BaseServiceImpl implements ${tableVo.pojoName}Service{
	@SuppressWarnings("unused")
	private Logger logger = LoggerFactory.getLogger(${tableVo.pojoName}ServiceImpl.class);
	
	@Autowired
	private ${tableVo.pojoName}Dao ${tableVo.pojoNameVar}Dao;
	
}
